doctype html

html
	head
	body
		img(src=X_SITELOGO)
		br
		p Bienvenid@, hemos recibido tu solicitud de suscripción.
		p Para confirmar que deseas recibir los avisos  en tu email pulsa el siguiente enlace:
		p
			a(href=X_CONFIRM_LINK)=X_CONFIRM_LINK
		p La suscripción a #{X_SITENAME} implica la aceptación de nuestra 
			a(href=X_SITEURL+"/privacy") política de privacidad
			| .
		p Para cualquier duda o sugerencia, puedes contactar con nuestro servicio de Atención al Cliente enviando un correo a 
			a(href="mailto:"+X_ADMINMAIL)=X_ADMINMAIL
